.QuestionCard {
  width: 25%;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  background-color: #e2e2e2;
  border-radius: 4px;
  transition: 0.3s;
}

.questionTitle {
  display: block;
  color: #cc9020;
  text-decoration: underline overline;
  text-underline-offset: 5px;
}

.question {
  text-align: center;
}

.answerInput {
  width: 95%;
  padding: 10px 5px;
  border-radius: 5px;
  border: 1px solid;
}

.QuestionCard:hover {
  /* Shadow box */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
