.QuestionCard {
  width: 40%;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  transition: 0.3s;
}

.questionTitle {
  display: block;
  color: white;
  background-color: #eca625;
  text-underline-offset: 5px;
  padding: 5px;
  width: fit-content;
  border-radius: 30px;
}

.question {
  text-align: center;
  font-size: 26px;
  color: white;
}

.questionPicture {
}

.answerInput {
  width: 95%;
  padding: 10px 5px;
  border-radius: 5px;
  border: 1px solid;
  font-size: 18px;
}

.QuestionCard:hover {
  /* Shadow box */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
