.buttonContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* ANIMATIONS */
.animateIn {
  animation: enter 0.5s ease-in-out;
}

.svgInformations {
  position: absolute;
  bottom: 127px;
  right: 40px;
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
