.NumberOfQuizz {
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
  height: auto;
  border: 1px solid silver;
  width: 285px;
  max-height: 100px;
}

.NumberOfQuizz h2 {
  margin: 0;
  vertical-align: middle;
  color: white;
  background-color: #3868edcc;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.NumberOfQuizz p {
  background-color: #3868edcc;
  color: white;
  margin: 10px auto;
  font-weight: bold;
  font-size: 2rem;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
