.QuizzCard {
  display: flex;
  flex-direction: column;
  width: 250px;
  border-radius: 10px;
  margin: 10px;
  margin-top: 20px;
  transition: 0.3s;
}

.quizzPicture {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background-color: rgb(157, 218, 218);
}

.quizzPicture:hover {
  box-shadow: 0px 0px 10px #3867ed;
  cursor: pointer;
}

.quizzPicture svg {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.quizzPicture span {
  font-size: 3rem;
  color: tomato;
}

.quizzPicture img {
  width: 250px;
  height: 250px;
}

.quizzTitle {
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
  font-size: 21px;
  background: rgb(56, 103, 237);
  background: linear-gradient(
    81deg,
    rgba(56, 103, 237, 0.81) 16%,
    rgba(150, 3, 254, 0.6306897759103641) 86%
  );
}
