.ThematicsAndTags {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 285px;
  background-color: #eee;
  border: 1px solid #636e72;
  border-radius: 10px;
  overflow: hidden;
}

.ThematicsAndTags h2 {
  margin: 0;
  vertical-align: middle;
  color: white;
  background-color: #3868edcc;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #636e72;
}

.ThematicsAndTags ul {
  margin: 0;
  padding: 0;
  border: 1px solid silver;
  min-height: 100px;
  max-height: 70px;
  /* overflow: scroll; */
}

.ThematicsAndTags p {
  text-align: center;
  min-height: 100px;
  max-height: 70px;
}
