.ThematicsAndTags {
  display: block;
  height: auto;
  border-bottom: 1px solid #707070;
  border-right: 1px solid #707070;
  border-left: 1px solid #707070;
  width: 285px;
}

.ThematicsAndTags h2 {
  margin: 0;
  vertical-align: middle;
  color: white;
  background-color: #3867ed;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.ThematicsAndTags ul {
  margin: 0;
  padding: 0;
}

.ThematicsAndTags ul li {
  color: #a1a1a1;
}
