.QuestionCard {
  max-width: 400px;
  max-height: 500px;
  min-height: 500px;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  transition: 0.3s;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.questionIndex {
  display: block;
  color: white;
  background-color: #eca625;
  text-underline-offset: 5px;
  padding: 10px;
  width: fit-content;
  border-radius: 30px;
  height: 20px;
}

.question {
  text-align: center;
  font-size: 22px;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.questionPicture {
  display: block;
  max-width: 400px;
  width: 100%;
  max-height: 250px;
  border-radius: 4px;
  margin-bottom: 15px;
  object-fit: contain;
}

.answerInput {
  box-sizing: border-box;
  max-width: 400px;
  width: 100%;
  padding: 5px 5px;
  border-radius: 5px;
  border: 1px solid;
  font-size: 17px;
}

.QuestionCard:hover {
  /* Shadow box */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
