.SearchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 285px;
}

.SearchBar input {
  width: 270px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #a1a1a1;
  padding: 5px;
}

.SearchBar img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
