.RightColumnDashboard {
  border: 1px solid black;
  width: 315px;
  height: 750px;
  background-color: #c7c0c0;
}

.RightColumnDashboard h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  background-color: #aa34ff;
  color: white;
  height: 70px;
  border: none;
}

.RightColumnDashboard__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
