.RightColumnDashboard {
  border: 1px solid black;
  width: 315px;
  height: 830px;
}

.RightColumnDashboard h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  background-color: rgba(189, 96, 255, 0.8);
  color: white;
  height: 70px;
  border: none;
}
