.QuizzCreator {
  max-width: 1110px;
  width: 100%;
}

.QuizzCreator h1 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70px;
  max-width: 1110px;
  font-size: 50px;
  font-weight: bold;
  color: white;

  background: rgb(56, 103, 237);
  background: linear-gradient(81deg, rgba(56, 103, 237, 0.8) 30%, rgba(150, 3, 254, 0.6) 60%);
  border-radius: 10px 10px 0 0;
}

.QuizzCreator h2 {
  align-self: center;
  margin: auto;
  color: tomato;
}

.wrapperQuizzs {
  box-shadow: 3px 3px 5px 0px #636e72;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1110px;
  justify-content: space-between;
  border: 1px solid #636e72;
  border-top: none;
  background-color: #dfe6e9;
  border-radius: 0 0 10px 10px;
}

.svgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  cursor: pointer;
}

.svgContainer svg {
  width: 125px;
  height: 125px;
}

.svgContainer span {
  font-size: 20px;
  margin-bottom: 10px;
}

.profilPicture {
  display: block;
  margin: auto;
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

@media screen and (max-width: 880px) {
  .QuizzCreator h1 {
    font-size: 25px;
    height: fit-content;
    width: 90%;
  }

  .wrapperQuizzs {
    display: flex;
    max-width: none;
    width: 90%;
    justify-content: space-between;
  }

  .svgContainer svg {
    width: 100px;
    height: 100px;
  }

  .profilPicture {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
  }
}
