.Contact {
  display: flex;
  color: #333;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 90%;
  min-height: 600px;
  font-style: italic;
}

.Contact h1 {
  color: white;
  box-sizing: border-box;
  font-style: italic;
  background: rgb(56, 103, 237);
  background: linear-gradient(81deg, rgba(56, 103, 237, 0.8) 30%, rgba(150, 3, 254, 0.6) 60%);
  max-width: 850px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 5px 5px 10px 0px white;
  padding: 5px;
}

.Contact form {
  background-color: #dfe6e9;
  max-width: 850px;
  width: 100%;
  border: 2px solid #636e72;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  box-shadow: 5px 5px 0px 0px #636e72;
}

.Contact form label {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
}

.Contact form input {
  text-align: start;
  font-size: 20px;
  margin-bottom: 20px;
  height: 35px;
}

.Contact form textarea {
  font-family: 'Roboto', sans-serif;
  text-align: start;
  font-size: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 20px;
}

.Contact form button {
  background-color: #3867ed;
  color: white;
  border: none;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
}
