header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}

header img {
  width: 100px;
  height: 100px;
}

header nav {
  flex-grow: 1;
  margin: auto;
  max-width: 1300px;
  border: 1px solid #636e72;
  border-radius: 20px;
  background-color: #dfe6e9;
}

@media screen and (max-width: 1400px) {
  header nav {
    background-color: transparent;
    border: none;
  }
}

@media screen and (max-width: 880px) {
  header {
    display: flex;
    flex-direction: column;
  }

  img {
    display: block;
    margin-bottom: 20px;
  }
}
