header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}

header img {
  width: 200px;
  height: 200px;
}

header nav {
  flex-grow: 1;
  margin: auto;
  max-width: 1000px;
  border-bottom: 1px solid silver;
  border-top: 1px solid silver;
}

@media screen and (max-width: 880px) {
  header {
    display: flex;
    flex-direction: column;
  }

  img {
    display: block;
    margin-bottom: 20px;
  }
}
