.ProfilManager {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.ProfilManager h1 {
  font-style: italic;
}

.wrapperProfil {
  border: 1px solid silver;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1050px;
  border-radius: 10px;
  color: saddlebrown;
  background-color: antiquewhite;
  margin: 0;
  padding: 0;
}

.wrapperProfil form {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border-right: 1px solid #707070;
}

.wrapperProfil label {
  text-align: start;
  width: 80%;
  padding: 5px;
  font-size: 18px;
  font-weight: 350;
  color: black;
}

.wrapperProfil input {
  width: 100%;
  height: 30px;
  border: 2px solid #707070;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

input:disabled {
  background-color: rgb(211, 211, 211);
  color: black;
  cursor: not-allowed;
}

.wrapperProfil button {
  width: 50%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 5px 5px;
  background-color: #3867ed;
  color: white;
  font-weight: bold;
  border: 1px solid black;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5px;
}

.wrapperProfil button:hover {
  background-color: white;
  color: #3867ed;
}

.picturePreview {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  box-shadow: 5px 5px 5px 0px #565656;
  -webkit-box-shadow: 5px 5px 5px 0px #565656;
  -moz-box-shadow: 5px 5px 5px 0px #565656;
  width: 285px;
  height: 285px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  color: #333;
  border: 1px solid silver;
}
.picturePreview img {
  width: 285px;
  height: 285px;
  border-radius: 50%;
  object-fit: cover;
}

.emailVerif {
  display: flex;
  align-items: center;
  margin: 0;
}

.emailVerif p {
  margin: 0;
  font-size: 20px;
  text-align: start;
  color: #333;
}

.fileUploader {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: center;
}

.fileUploader input {
  margin: 0;
  margin-bottom: 30px;
  flex-shrink: 2;
  cursor: pointer;
}

.fileUploader button {
  margin: 0;
  width: 100px;
  height: 40px;
  margin-left: 70px;
  margin-right: 70px;
  border-radius: none;
  flex-shrink: 1;
  padding: 0;
}

.fileUploader button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.fileUploader .successButton {
  background-color: #2ab34c;
  border: 1px solid #2ab34c;
}

.fileUploader .successButton:hover {
  color: white;
  background-color: #2ab34c;
  border: 1px solid #2ab34c;
  cursor: not-allowed;
}
