.Dashboard h1 {
  width: 100%;
  padding: 25px 0;
  max-width: 1050px;
  margin: auto;
  font-size: 50px;
  font-weight: bold;
  color: white;
  background: rgb(56,103,237);
  background: linear-gradient(81deg, rgba(56,103,237,0.81) 16%, rgba(150,3,254,0.6306897759103641) 86%);
}

.wrapperQuizzs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  background-color: #E6DCDC;
  border: 1px solid #707070;
}

.QuizzCard {
  margin: 5px;
  border: 1px solid black;
  width: 250px;
  height: 250px;
  background-color: aqua;
}

.svg {
  margin: auto;
  cursor: pointer;
}