.wrapperContent {
  display: flex;
  justify-content: space-around;
}

.Dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 50%;
  height: 100%;
}

.Dashboard h1 {
  width: 100%;
  padding: 25px 0;
  max-width: 1050px;
  margin: auto;
  font-size: 50px;
  font-weight: bold;
  color: white;
  background: rgb(56, 103, 237);
  background: linear-gradient(
    81deg,
    rgba(56, 103, 237, 0.81) 16%,
    rgba(150, 3, 254, 0.6306897759103641) 86%
  );
}

.Dashboard h2 {
  margin: auto;
}

.wrapperQuizzs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1050px;
  background-color: #e6dcdc;
  border: 1px solid #707070;
}

.QuizzCard {
  margin: 5px;
  margin-bottom: 10px;
  border: 1px solid black;
  width: 32%;
  height: 250px;
  background-color: rgb(157, 218, 218);
}

.svg {
  margin: auto;
  cursor: pointer;
}

.profilPicture {
  display: block;
  margin: auto;
  object-fit: cover;
  width: 285px;
  height: 285px;
  border-radius: 50%;
}

.LeftColumnContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.RightColumnContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 880px) {
  .Dashboard h1 {
    font-size: 30px;
    width: 90%;
  }
  .wrapperQuizzs {
    display: flex;
    flex-direction: column;
    max-width: none;
    width: 90%;
    justify-content: space-between;
    align-items: center;
  }
  .QuizzCard {
    width: 150px;
    height: 150px;
  }

  .svg svg {
    width: 100px;
    height: 100px;
  }

  .wrapperContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
  }

  .profilPicture {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
  }

  .RightColumnContent {
    display: none;
  }
}
