.NavigationItem {
  box-sizing: border-box;
}

.NavigationItem a {
  text-decoration: none;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  background: #3867ed;
  background: linear-gradient(81deg, #3867edcf 16%, #9603fea1 86%);
}

.actived {
  border: 10px solid black;
}

@media screen and (max-width: 880px) {
  .NavigationItem {
    margin-right: 5px;
  }
  .NavigationItem a {
    text-transform: none;
    padding: 4px 10px;
    font-weight: bold;
  }
}

@media screen and (max-width: 500px) {
  .NavigationItem {
    width: 200px;
    margin-bottom: 10px;
    background: rgb(56, 103, 237);
    background: linear-gradient(
      81deg,
      rgba(56, 103, 237, 0.81) 16%,
      rgba(150, 3, 254, 0.6306897759103641) 86%
    );
    border-radius: 5px;
  }
  .NavigationItem a {
    width: 100%;
    background: none;
    background-color: none;
  }
}
