.ContainerModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ModalContent {
  width: 70%;
  height: 90%;
  background-color: #e0dfdf;
  border-radius: 10px;
  padding: 10px;
  border: 3px solid #3867ed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: start;
}

.ModalContent h1 {
  align-self: center;
  border-radius: 30px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70px;
  max-width: 1110px;
  font-size: 50px;
  font-weight: bold;
  color: white;
  background: rgb(56, 103, 237);
  background: linear-gradient(81deg, rgba(56, 103, 237, 0.8) 30%, rgba(150, 3, 254, 0.6) 60%);
  text-align: center;
}

.wrapperContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 450px;
}

.formQuestion {
  width: 45%;
  height: 100%;
}

.formQuestion form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #3867ed;
  border-radius: 5px;
  padding: 20px;
  height: 100%;
}

.ModalContent label {
  display: block;
  text-align: center;
  text-decoration: underline;
  width: 100%;
  color: #707070;
  font-size: 25px;
}

.ModalContent input {
  box-sizing: border-box;
  color: #707070;
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  font-size: 18px;
  border-radius: 5px;
  padding: 3px 10px;
  border: 1px solid #707070;
  background-color: #f5f5f5;
}

.ModalContent input[type='file'] {
  display: none;
}

.ModalContent .customFileUpload {
  margin: auto;
  width: 60%;
  box-sizing: border-box;
  border: 1px solid #707070;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 1.3rem;
  background-color: #f5f5f5;
}

.ModalContent h2 {
  text-align: center;
  color: #707070;
  font-size: 22px;
  margin: 0;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid silver;
  padding: 3px 0;
}

.questionsList {
  display: flex;
  flex-direction: column;
  border: 2px solid #bd60ffcc;
  border-radius: 5px;
  height: 100%;
  padding: 0;
  overflow: scroll;
}

.ModalContent svg {
  cursor: pointer;
}

.wrapperQuestionsList {
  width: 45%;
  height: 100%;
}

.question {
  cursor: pointer;
}

.questionText {
  /* background-color: #f5f5f5; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid silver;
  padding: 0 15px;
}

.questionText p {
  margin: 5px 0;
  background-color: #f5f5f5;
  padding: 3px 20px;
  border-radius: 15px;
}

.answersList {
  display: none;
}

.deleteQuestion {
  color: white;
  width: 100px;
  border: 2px solid red;
  background-color: tomato;
  border-radius: 6px;
  cursor: pointer;
}

.answer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  border-bottom: 1px solid silver;
  border-left: 1px solid silver;
}

.answer p {
  margin: 0;
  margin-left: 10px;
  text-transform: capitalize;
  background-color: #f5f5f5;
}

.trashSvg {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  padding: 5px;
  transition: 0.3s;
}

.warningAndCreateQuestionButton {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.warningAndCreateQuestionButton span {
  cursor: help;
  color: red;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-weight: bold;
}

.noQuestion {
  margin: auto;
  color: #707070;
  font-size: 1.3rem;
}

.createQuestion {
  width: 40%;
  height: 40px;
  padding: 0;
  cursor: pointer;
  background-color: #a42bfacc;
  color: white;
  border-radius: 5px;
  border: 1px solid #a42bfacc;
  transition: 0.3s;
  align-self: center;
}

.confirmEdit {
  text-transform: uppercase;
  font-weight: bold;
  width: 30%;
  height: 50px;
  padding: 0;
  cursor: pointer;
  background-color: #3867ed;
  color: white;
  border-radius: 5px;
  border: 1px solid #3867ed;
  transition: 0.3s;
  font-size: 16px;
  align-self: center;
  margin-top: 30px;
}

.ModalContent button:hover {
  opacity: 0.7;
}

/* SVG */
.CloseModal {
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 300px;
}

/* ANIMATIONS */
.animateIn {
  animation: enter 0.5s ease-in-out;
}

.listAppear {
  animation: listAppear 0.5s ease-in-out;
}

.listDisappear {
  animation: listDisappear 0.5s ease-in-out;
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes listAppear {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes listDisappear {
  0% {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    display: none;
    opacity: 0;
    transform: translateY(100px);
  }
}
